<configuration xmlns:patch="www.sitecore.net/xmlconfig">
  <sitecore>
    <pipelines>
      <updateMongoDriverSettings>
        <processor type="GC.Sitecore.DocumentDB.InitializeTls12Processor, GC.Sitecore.DocumentDB" />
      </updateMongoDriverSettings>
    </pipelines>
  </sitecore>
</configuration>